---
import canvasScript from '../scenes/Canvas.js?url';
---

<div id="canvas" class="w-full h-full bg-[#353b3d] fixed inset-0">
  <!-- Three.js scene -->
</div>
<script type="module" src={canvasScript}></script>
