<a
  href="https://astro.build/blog/astro-5/"
  id="ui"
  class="absolute box bottom-4 right-4 max-w-xs no-underline hover:bg-white/90 pointer-events-auto"
>
  <svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"
    ><path
      d="M24.667 12c1.333 1.414 2 3.192 2 5.334 0 4.62-4.934 5.7-7.334 12C18.444 28.567 18 27.456 18 26c0-4.642 6.667-7.053 6.667-14Zm-5.334-5.333c1.6 1.65 2.4 3.43 2.4 5.333 0 6.602-8.06 7.59-6.4 17.334C13.111 27.787 12 25.564 12 22.666c0-4.434 7.333-8 7.333-16Zm-6-5.333C15.111 3.555 16 5.556 16 7.333c0 8.333-11.333 10.962-5.333 22-3.488-.774-6-4-6-8 0-8.667 8.666-10 8.666-20Z"
      fill="#111827"></path></svg
  >
  <h2>Title</h2>
  <p>Probably learn whats new here in my app lol</p>
</a>

<style>
  h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #111827;
    font-size: 20px;
  }

  p {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }

  .box {
    padding: 16px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid white;
  }

  #news {
    position: absolute;
    bottom: 16px;
    right: 16px;
    max-width: 300px;
    text-decoration: none;
    transition: background 0.2s;
    backdrop-filter: blur(50px);
  }
</style>
