---
import DialogAlert from './DialogAlert.astro';
---

<div id="container" class="pointer-events-none">
  <main>
    <div>
      <h1 id="ui" class="text-sm absolute">c0dev1king's 3D Model Viewer</h1>
    </div>
  </main>
  <DialogAlert />
</div>

<style>
  #container {
    height: 20px;
  }

  main {
    height: 20px;
    display: flex;
    justify-content: start;
  }
</style>
